{% extends 'base.html' %}

{% block navbar %}
    {% include 'navbar_pengguna.html' %}
{% endblock navbar %}

{% block content %}
<div class="container mx-auto p-6 bg-white rounded-lg shadow-lg mt-8 max-w-xl">
    <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">{{ subcategory.nama }}</h1>
    <p class="text-lg text-gray-600 mb-6"><strong>Kategori:</strong> {{ category_name }}</p>
    <p class="text-md text-gray-700 mb-6">{{ subcategory.deskripsi }}</p>

    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Pilihan Sesi Layanan</h2>
    <ul class="list-disc space-y-4 text-gray-700">
        {% for session in sessions %}
            <li class="flex justify-between items-center">
                <span>{{ session.sesi }}. Rp {{ session.harga }}</span>
                <a href="{% url 'hijau:create_pemesanan' %}?session_name={{ session.name }}&session_price={{ session.price }}" 
                   class="bg-[#2F4F4F] text-white px-4 py-2 rounded hover:bg-green-800 transition duration-200">
                    Pesan
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2 class="text-2xl font-semibold text-gray-800 mb-6 mt-8">Daftar Pekerja</h2>
    <ul class="space-y-4 text-gray-700">
        {% for worker in workers %}
            <li>
                <a href="" class="text-[#2F4F4F] hover:text-green-800 font-medium">
                    {{ worker.nama }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2 class="text-2xl font-semibold text-[#283D3B] mb-6 mt-8">Testimoni</h2>
    <ul class="space-y-4">
        {% if testimonials %}
            {% for testimonial in testimonials %}
                <li class="bg-[#F3EBE0] bg-opacity-50 rounded-lg p-4 border border-[#2C5F59] shadow-sm">
                    <div class="flex justify-between items-start mb-2">
                        <div>
                            <strong class="font-semibold text-[#283D3B]">{{ testimonial.namapengguna }}</strong>
                            <span class="text-[#2C5F59] text-sm">({{ testimonial.tanggal }})</span>
                        </div>
                        <div class="text-[#00DFC9]">
                            {{ testimonial.rating }} ★
                        </div>
                    </div>
                    <p class="italic text-[#283D3B] mb-2">"{{ testimonial.teks }}"</p>
                    <span class="text-[#2C5F59] text-sm">Pekerja: {{ testimonial.namapekerja }}</span>
                </li>
            {% endfor %}
        {% else %}
            <p>Belum ada testimoni</p>
        {% endif %}
    </ul>
</div>
{% endblock %}
