{% extends 'base.html' %}

{% block navbar %}
    {% if user_role == 'Pekerja' %}
        {% include 'navbar_pekerja.html' %}
    {% else %}
        {% include 'navbar_pengguna.html' %}
    {% endif %}
{% endblock navbar %}

{% block content %}
<div class="container mx-auto p-6 bg-white rounded-lg shadow-lg mt-8 max-w-xl">
    <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Daftar Pesanan Jasa</h2>
    <ul class="space-y-6">
        {% for pesanan in pesanan %}
            <li class="bg-white p-6 rounded-lg shadow-md border border-gray-200">
                <h3 class="text-xl font-semibold text-gray-800">{{ pesanan.session_name }}</h3>
                <h3 class="text-xl font-semibold text-gray-800">Rp {{ pesanan.session_price }}</h3>
                <p class="text-gray-600">Status: {{ pesanan.status|capfirst }}</p>

                <!-- Tombol diatur dengan Flexbox -->
                <div class="flex flex-col gap-4 mt-4">
                    {% if pesanan.status == 'Mencari Pekerja Terdekat' or pesanan.status == 'Menunggu Pembayaran' %}
                        <a href="{% url 'hijau:batal_pemesanan' pesanan.id_pemesanan %}" 
                           class="bg-red-500 text-white px-6 py-3 rounded-lg hover:bg-red-600 transition duration-200 text-center">
                            Batalkan Pesanan
                        </a>
                    {% endif %}
                    {% if pesanan.status == 'Pesanan selesai' and pesanan.testimoni == '' %}
                        <a href="" 
                           class="bg-green-500 text-white px-6 py-3 rounded-lg hover:bg-green-600 transition duration-200 text-center">
                            Buat Testimoni
                        </a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
