{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-6 bg-white rounded-lg shadow-md mt-8 max-w-3xl">
    <h1 class="text-3xl font-semibold text-gray-800 mb-4">{{ worker.name }}</h1>
    <div class="space-y-4">
        <p><strong class="text-gray-700">Rating:</strong> <span class="text-blue-500">{{ worker.rating }}</span></p>
        <p><strong class="text-gray-700">Finished Jobs:</strong> {{ worker.finished_jobs }}</p>
        <p><strong class="text-gray-700">Phone:</strong> {{ worker.phone_number }}</p>
        <p><strong class="text-gray-700">Birthdate:</strong> {{ worker.birthdate|date:"d-m-Y" }}</p>
        <p><strong class="text-gray-700">Address:</strong> {{ worker.address }}</p>
    </div>
</div>
{% endblock %}
